<div class="out-side">
    <div class="in-side">
        <form action="">
            <img src="../../../assets/image/logo.png" alt="">
            <div class="form-group row space-between">
                <label for="staticEmail" class="col-form-label">Email</label>
                <div class="">
                    <input type="text" class="form-control" id="staticEmail">
                </div>
            </div>
            <div class="form-group row space-between">
                <label for="password" class="col-form-label">Mật Khẩu</label>
                <div class="">
                    <input type="password" class="form-control" id="password">
                </div>
            </div>
            <button class="button-auth mt-2">LOGIN</button>
            <p class="message mt-2 text-center">Not registered? <a [routerLink]="['/auth/register']" routerLinkActive="router-link-active" >Create an account</a></p>
        </form>
    </div>
</div>