<div class="out-side">
    <div class="in-side">
        <form action="">
            <img src="../../../assets/image/logo.png" alt="">
            <div class="form-group row space-between">
                <div class="w-100">
                    <input type="text" class="form-control" id="staticEmail" placeholder="Email">
                </div>
            </div>
            <div class="form-group row space-between">
                <div class="w-100">
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
            </div>
            <button class="button-auth mt-2">LOGIN</button>
            <p class="message mt-2 text-center">Not registered? <a [routerLink]="['/auth/register']" routerLinkActive="router-link-active" >Create an account</a></p>
        </form>
    </div>
</div>