<div class="chat">
    <div class="chat-title">
        <h1>Fabio Ottaviani</h1>
        <h2>Supah</h2>
        <figure class="avatar">
            <img src="../../../assets/image/man-face-illustration-avatar-user-computer-icons-software-developer-avatar-png-clip-art.png" /></figure>
    </div>
    <div class="messages">
        <div class="messages-content"></div>
    </div>
    <div class="message-box">
        <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
        <button type="submit" class="message-submit">Send</button>
    </div>

</div>
<div class="bg"></div>