<app-loading></app-loading>
<div class="out-side">
    <div class="in-side">
        <ng-container *ngIf="formStep === 1">
            <form action="" [formGroup]="formRegister">
                <img src="../../../assets/image/logo.png" alt="">
                <div class="form-group row space-between">
                    <div class="w-100">
                        <input type="text" class="form-control" id="name" placeholder="Tên" formControlName="name">
                    </div>
                    <p class="err" *ngIf="formRegisterErrors.name && formRegister.controls.name.touched">*
                        {{ formRegisterErrors.name }}</p>
                </div>
                <div class="form-group row space-between">
                    <div class="w-100">
                        <input type="text" class="form-control" id="staticEmail" placeholder="Email"
                            formControlName="email">
                    </div>
                    <p class="err" *ngIf="formRegisterErrors.email && formRegister.controls.email.touched">*
                        {{ formRegisterErrors.email }}</p>
                </div>
                <div class="form-group row space-between">
                    <div class="w-100">
                        <input type="password" class="form-control" id="password" placeholder="Password"
                            formControlName="password">
                    </div>
                    <p class="err" *ngIf="formRegisterErrors.password && formRegister.controls.password.touched">*
                        {{ formRegisterErrors.password }}</p>
                </div>
                <button [disabled]="formRegister.invalid" class="button-auth mt-2"
                    (click)="registerNGenOtp()">Register</button>
                <p class="message mt-2 text-center">Have a account<a [routerLink]="['/auth/login']"
                        routerLinkActive="router-link-active"> Back to login</a></p>
            </form>
        </ng-container>
        <ng-container *ngIf="formStep === 2">
            <form action="" [formGroup]="formOtp">
                <img src="../../../assets/image/logo.png" alt="">
                <div class="form-group row space-between">
                    <div class="w-100">
                        <input type="text" class="form-control" id="name" placeholder="Your Otp Code" formControlName="otp">
                    </div>
                    <p class="err" *ngIf="formOtpErrors.otp && formOtp.controls.otp.touched">*
                        {{ formOtpErrors.otp }}</p>
                </div>
                <button [disabled]="formOtp.invalid" class="button-auth mt-2"
                    (click)="checkOtp()">Active Yout Account</button>
                <p class="message mt-2 text-center">Have a account<a [routerLink]="['/auth/login']"
                        routerLinkActive="router-link-active"> Back to login</a></p>
            </form>
        </ng-container>
    </div>
</div>